html, body {
    height: 100%;
    margin: 0;
    
    overflow: hidden
}

#canvas_div {
    height: 100%;
}

#canvas {
    margin: 0;
    outline: 2px solid black;

    image-rendering: crisp-edges;
}
